gym-notices==0.1.0
munkres==1.1.4
ml_dtypes==0.5.4
rich==15.0.0
flask-cors==6.0.2
certifi==2026.4.22
defusedxml==0.7.1
nvidia-nvjitlink-cu12==12.9.86
ipython==9.13.0
terminado==0.18.1
beautifulsoup4==4.14.3
treescope==0.1.10
jaxopt==0.8.5
scipy==1.17.1
nvidia-cusparse-cu12==12.5.10.65
argon2-cffi==25.1.0
ipython_pygments_lexers==1.1.1
urllib3==2.6.3
jupyter-events==0.12.1
nbclient==0.10.4
nbformat==5.10.4
nest_asyncio==1.6.0
mistune==3.2.0
pydantic_core==2.46.3
nbconvert==7.17.1
blinker==1.9.0
prometheus_client==0.25.0
ipykernel==7.2.0
protobuf==5.29.6
jupyterlab_server==2.28.0
notebook_shim==0.2.4
gym==0.26.2
markdown-it-py==4.0.0
sentry-sdk==2.58.0
jax-cuda12-pjrt==0.10.0
opt_einsum==3.4.0
jupyter_core==5.9.1
ml_collections==1.1.0
websocket-client==1.9.0
gitdb==4.0.12
setuptools==82.0.1
PySocks==1.7.1
brax==0.14.2
hpack==4.1.0
shiboken6==6.11.0
platformdirs==4.9.6
uvloop==0.22.1
imageio==2.37.0
backports.zstd==1.3.0
pycparser==2.22
six==1.17.0
nvidia-cublas-cu12==12.9.2.10
nvidia-cudnn-cu12==9.21.1.3
jupyter_server_terminals==0.5.4
ptyprocess==0.7.0
webcolors==25.10.0
Jinja2==3.1.6
nvidia-cuda-nvcc-cu12==12.9.86
pyparsing==3.3.2
Brotli==1.2.0
mujoco-mjx==3.3.4
contourpy==1.3.3
argon2-cffi-bindings==25.1.0
itsdangerous==2.2.0
docker-pycreds==0.4.0
anyio==4.13.0
jupyterlab==4.5.6
traitlets==5.14.3
nvidia-cuda-nvrtc-cu12==12.9.86
PyOpenGL==3.1.10
rfc3987-syntax==1.1.0
typing_extensions==4.15.0
matplotlib==3.9.4
webencodings==0.5.1
MarkupSafe==3.0.3
nvidia-cuda-cccl-cu12==12.9.27
soupsieve==2.8.3
jsonschema-specifications==2025.9.1
python-dateutil==2.9.0.post0
glfw==2.10.0
uri-template==1.3.0
tornado==6.5.5
decorator==5.2.1
jsonpointer==3.1.1
tinycss2==1.4.0
fqdn==1.5.1
fastjsonschema==2.21.2
pillow==12.2.0
mediapy==1.2.4
aiofiles==25.1.0
wrapt==2.1.2
optax==0.2.5
babel==2.18.0
tomli==2.4.1
matplotlib-inline==0.2.1
nvidia-cufft-cu12==11.4.1.4
async-lru==2.3.0
debugpy==1.8.20
pexpect==4.9.0
asttokens==3.0.1
jupyter-lsp==2.3.1
jax==0.10.0
smmap==5.0.3
executing==2.2.1
jupyter_client==8.8.0
python-json-logger==2.0.7
chex==0.1.90
setproctitle==1.3.7
grpcio==1.80.0
h11==0.16.0
zipp==3.23.1
cycler==0.12.1
PyYAML==6.0.3
wandb==0.26.1
jupyter_server==2.17.0
fonttools==4.62.1
requests==2.33.1
unicodedata2==17.0.1
rpds-py==0.30.0
cached-property==1.5.2
wcwidth==0.6.0
jupyterlab_pygments==0.3.0
nvidia-cuda-cupti-cu12==12.9.79
Pygments==2.20.0
packaging==26.1
nvidia-nvshmem-cu12==3.6.5
nvidia-cusolver-cu12==11.7.5.82
cffi==2.0.0
trimesh==4.12.0
lark==1.3.1
prompt_toolkit==3.0.52
parso==0.8.6
msgpack==1.1.2
pyzmq==27.1.0
click==8.3.3
referencing==0.37.0
stack_data==0.6.3
Werkzeug==3.1.8
humanize==4.15.0
charset-normalizer==3.4.7
PySide6==6.11.0
pandocfilters==1.5.0
GitPython==3.1.47
dm-tree==0.1.10
jaxlib==0.10.0
pytinyrenderer==0.0.14
pure_eval==0.2.3
Farama-Notifications==0.0.6
jsonschema==4.26.0
h2==4.3.0
isoduration==20.11.0
Flask==3.1.3
psutil==7.2.2
nvidia-cuda-runtime-cu12==12.9.79
httpcore==1.0.9
orbax-checkpoint==0.11.36
comm==0.2.3
flax==0.12.7
rfc3986-validator==0.1.1
json5==0.14.0
typing-inspection==0.4.2
numpy==2.4.4
gymnasium==0.29.1
nvidia-nccl-cu12==2.30.4
exceptiongroup==1.3.1
arrow==1.4.0
dm-env==1.6
jedi==0.19.2
pip==26.0.1
fsspec==2026.3.0
importlib_metadata==8.8.0
cloudpickle==3.1.2
tensorstore==0.1.82
mujoco==3.3.4
toolz==1.1.0
overrides==7.7.0
absl-py==2.4.0
wheel==0.47.0
bleach==6.3.0
jax-cuda12-plugin==0.10.0
kiwisolver==1.5.0
etils==1.14.0
hyperframe==6.1.0
Send2Trash==2.1.0
sniffio==1.3.1
attrs==26.1.0
typing_utils==0.1.0
rfc3339_validator==0.1.4
simplejson==4.1.1
tzdata==2026.1
annotated-types==0.7.0
mdurl==0.1.2
pydantic==2.13.3
tensorboardX==2.6.5
idna==3.13
httpx==0.28.1
