<?xml version="1.0"?>
<robot name="ch_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Hip (base link) -->
  <link name="hip">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///Users/arnavg/Developer/humanoid/stls/colision/hip_ch.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>
  </link>

  <!-- Left leg 1 -->
  <link name="left_leg1">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///Users/arnavg/Developer/humanoid/stls/colision/left_leg1_ch.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="red">
        <color rgba="1.0 0.3 0.3 1.0"/>
      </material>
    </visual>
  </link>

  <!-- Left leg 2 -->
  <link name="left_leg2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///Users/arnavg/Developer/humanoid/stls/colision/left_leg2_ch.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="red2">
        <color rgba="1.0 0.4 0.4 1.0"/>
      </material>
    </visual>
  </link>

  <!-- Left leg 3 -->
  <link name="left_leg3">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///Users/arnavg/Developer/humanoid/stls/colision/left_leg3_ch.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="red3">
        <color rgba="1.0 0.5 0.5 1.0"/>
      </material>
    </visual>
  </link>

  <!-- Right leg 1 -->
  <link name="right_leg1">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///Users/arnavg/Developer/humanoid/stls/colision/right_leg1_ch.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="blue">
        <color rgba="0.3 0.3 1.0 1.0"/>
      </material>
    </visual>
  </link>

  <!-- Right leg 2 -->
  <link name="right_leg2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///Users/arnavg/Developer/humanoid/stls/colision/right_leg2_ch.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="blue2">
        <color rgba="0.4 0.4 1.0 1.0"/>
      </material>
    </visual>
  </link>

  <!-- Right leg 3 -->
  <link name="right_leg3">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///Users/arnavg/Developer/humanoid/stls/colision/right_leg3_ch.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="blue3">
        <color rgba="0.5 0.5 1.0 1.0"/>
      </material>
    </visual>
  </link>

  <!-- All links fixed together -->
  <joint name="hip_to_left_leg1" type="fixed">
    <parent link="hip"/>
    <child link="left_leg1"/>
  </joint>

  <joint name="hip_to_left_leg2" type="fixed">
    <parent link="hip"/>
    <child link="left_leg2"/>
  </joint>

  <joint name="hip_to_left_leg3" type="fixed">
    <parent link="hip"/>
    <child link="left_leg3"/>
  </joint>

  <joint name="hip_to_right_leg1" type="fixed">
    <parent link="hip"/>
    <child link="right_leg1"/>
  </joint>

  <joint name="hip_to_right_leg2" type="fixed">
    <parent link="hip"/>
    <child link="right_leg2"/>
  </joint>

  <joint name="hip_to_right_leg3" type="fixed">
    <parent link="hip"/>
    <child link="right_leg3"/>
  </joint>

</robot>
